// ==========================================================================
// Components / tiles
//
// ==========================================================================

.collaboration-tile {
  position: relative;
  display: block;

  &_featured {
    max-height: 300px;
  }

  a {
    position: relative;
    display: block;
    width: 100%;
    height: 21.875rem;
    background: #354c70;
    overflow: hidden;
    margin-bottom: 6em;
    border-radius: 0.7rem;
    color: $white;
    text-decoration: none;
    transform: scale(1);
    transition: all $transition-normal $ease-out-expo;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  &__content-wrapper {
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 0.7rem;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.48), transparent 60%);
  }

  &__content {
    position: absolute;
    bottom: 1rem;
    padding: 2rem 3rem;
    width: 100%;
  }

  h3 {
    color: $color-white;
    margin-bottom: 2rem;
  }

  &__text {
    color: $color-white;
  }
}

.document-tile {
  position: relative;
  display: block;

  &__img {
    margin-bottom: rem-calc(10px);
  }

  &__content {
    position: relative;
    width: 100%;
  }

  h3 {
    color: $color-mid-gray;
  }

  &__text {
    color: $color-white;
  }

  a {
    font-size: rem-calc(13px);
    font-weight: 600;

    .--arrow-icon {
      transition: all $transition-normal ease-in-out;
      transform: translateX(0);
    }

    @include u-all-state {
      color: $color-primary;

      .--arrow-icon {
        transform: translateX(4px);
      }
    }
  }
}

.article-tile {
  position: relative;
  display: block;

  &__img {
    margin-bottom: rem-calc(10px);
  }

  &__content {
    position: relative;
    width: 100%;
  }

  h3 {
    color: $color-mid-gray;
  }

  &__text {
    color: $color-white;
  }

  a {
    font-size: rem-calc(13px);
    font-weight: 600;

    .--arrow-icon {
      transition: all $transition-normal ease-in-out;
      transform: translateX(0);
    }

    @include u-all-state {
      color: $color-primary;

      .--arrow-icon {
        transform: translateX(4px);
      }
    }
  }
}
