// ==========================================================================
// Components / tiles
//
// ==========================================================================

.collaboration-tile {
  position: relative;
  display: block;

  &_featured {
    max-height: rem-calc(300px);
  }

  a {
    position: relative;
    display: block;
    width: 100%;
    height: rem-calc(200px);
    min-height: 73vw;
    background: $color-secondary;
    overflow: hidden;
    margin-bottom: $spacing-small;
    border-radius: rem-calc(12px);
    color: $color-white;
    text-decoration: none;
    transform: scale(1);
    transition: all $transition-normal ease;
    box-shadow: none;

    @include media-breakpoint-up(sm) {
      min-height: 55vw;
    }

    @include media-breakpoint-up(md) {
      min-height: 42vw;
    }

    @include media-breakpoint-up(lg) {
      min-height: rem-calc(350px);
    }

    @include u-all-state {
      transform: scale(1.02);
      box-shadow: 3px 3px 15px rgba(133, 133, 133, 0.3);
    }
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  &__content-wrapper {
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: rem-calc(12px);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.48), transparent 60%);
  }

  &__content {
    position: absolute;
    bottom: 1rem;
    padding: rem-calc(30px);
    width: 100%;
  }

  h3 {
    color: $color-white;
    margin-bottom: rem-calc(30px);
  }

  &__text {
    color: $color-white;
  }
}

.featured-tile,
.mosaic-tile {
  position: relative;
  display: block;

  &_featured {
    max-height: 300px;
  }

  a {
    position: relative;
    display: block;
    width: 100%;
    height: 73vw;
    background: $color-secondary;
    overflow: hidden;
    margin-bottom: $spacing-small;
    border-radius: rem-calc(12px);
    color: $color-white;
    text-decoration: none;
    transform: scale(1);
    transition: all $transition-slow ease;
    box-shadow: none;

    @include media-breakpoint-up(sm) {
      height: 48vw;
    }

    @include media-breakpoint-up(md) {
      height: 36vw;
    }

    @include media-breakpoint-up(lg) {
      height: rem-calc(350px);
    }

    @include u-all-state {
      transform: scale(1.02);
      box-shadow: 3px 3px 15px rgba(133, 133, 133, 0.5);
    }
  }

  &--tall {
    a {
      @include media-breakpoint-up(lg) {
        height: rem-calc(560px);
      }
    }
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  &__content-wrapper {
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: rem-calc(12px);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.48), transparent 60%);
  }

  &__content {
    position: absolute;
    bottom: rem-calc(20px);
    padding: rem-calc(30px) rem-calc(20px);
    width: 100%;
  }

  h3 {
    color: $color-white;
    text-align: center;
  }

  &__text {
    color: $color-white;
  }
}

.featured-tile {
  &:last-child {
    @include media-breakpoint-up(md) {
      margin-top: -120px;
    }

    @include media-breakpoint-up(lg) {
      margin-top: 0;
    }
  }
}

.document-tile {
  position: relative;
  display: block;

  &__content {
    position: relative;
    width: 100%;
  }

  h3 {
    color: $color-mid-gray;
  }

  &__text {
    color: $color-white;
  }

  &__img-wrapper {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: rem-calc(10px);
    padding-top: 72%;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: rem-calc(12px);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  a {
    font-size: rem-calc(13px);
    font-weight: 600;

    [class*="--arrow-icon"] {
      transition: all $transition-normal ease-in-out;
      transform: translateX(0);
      width: 48px;
    }

    @include u-all-state {
      color: $color-primary;

      [class*="--arrow-icon"] {
        transform: translateX(4px);
      }
    }
  }
}

.article-tile {
  position: relative;
  display: block;

  &__content {
    position: relative;
    width: 100%;
  }

  h3 {
    color: $color-mid-gray;
  }

  &__text {
    color: $color-white;
  }

  &__img-wrapper {
    position: relative;
    display: block;
    width: 100%;
    padding-top: 72%;
    margin-bottom: rem-calc(10px);
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: rem-calc(12px);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  a {
    font-size: rem-calc(13px);
    font-weight: 600;

    [class*="--arrow-icon"] {
      transition: all $transition-normal ease-in-out;
      transform: translateX(0);
      width: 48px;
    }

    @include u-all-state {
      color: $color-primary;

      [class*="--arrow-icon"] {
        transform: translateX(4px);
      }
    }
  }
}
