// ==========================================================================
// Components / typography
//
// composed of placeholder classes used in content object and wherever you need
// for styles consistemcy
//
// ==========================================================================

/* Placeholders */

%h1 {
  font-family: $font-secondary;
  font-weight: 700;
  line-height: 1;
}

%h2 {
  font-family: $font-secondary;
  font-weight: 700;
  line-height: 1.16;
  color: $color-primary;
}

%h3 {
  font-family: $font-secondary;
  font-weight: 700;
  line-height: 1.16;
  color: $color-primary;
}

%h4 {
  font-family: $font-secondary;
  font-weight: 700;
  line-height: 1.16;
  color: $color-primary;
}

%h5 {
  font-family: $font-secondary;
  font-weight: 700;
  line-height: 1.16;
  color: $color-primary;
}

%h6 {
  font-family: $font-secondary;
  font-weight: 700;
  line-height: 1.1;
  color: $color-primary;
}

%blockquote {
  font-weight: 300;

  &::before {
    content: "\0000AB ";
  }

  &::after {
    content: " \0000BB";
  }
}

%small {
  font-size: 14px;
}

h1,
.h1 {
  @extend %h1;
}

h2,
.h2 {
  @extend %h2;
}

h3,
.h3 {
  @extend %h3;
}

h4,
.h4 {
  @extend %h4;
}

h5,
.h5 {
  @extend %h5;
}

h6,
.h6 {
  @extend %h6;
}

// From previous projects, review if we need the following
blockquote,
.blockquote {
  @extend %blockquote;

  /* stylelint-disable */
  :first-child {
    display: inline;
  }

  :last-child {
    display: inline;
  }
  /* stylelint-enable */
}

small,
.small {
  @extend %small;
}
