// ==========================================================================
// Templates / Contact
// ==========================================================================

.template-contact {
  // ------------------- Form ---------------------
  .contact-form {
    &__element {
      font-size: 16px;
    }

    /*
    p {
      display: flex;
      justify-content: center;
    }
    */

    .o-wrapper {
      margin-bottom: $spacing-small //20px pb o-wrapper + 40px margin = 60px
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="number"],
    select {
      @include fluid-type($breakpoint-sm, $breakpoint-lg, $body-font-size-min, $body-font-size-max);
    }

    .form-mention {
      padding-top: 0.5rem;

      @include fluid-type($breakpoint-sm, $breakpoint-lg, $body-font-size-min, $body-font-size-max);
    }

    textarea {
      border: 1px solid $color-mid-gray;
      outline: none;

      @include fluid-type($breakpoint-sm, $breakpoint-lg, $body-font-size-min, $body-font-size-max);
    }

    .wpcf7-submit {
      border: none;
      display: inline-block;
      width: auto;
      position: relative;
      cursor: pointer;
      color: $color-primary;
      min-width: auto;
      padding: 0;
      background-image: url("../images/small-right-arrow.svg");
      transition: right $transition-normal ease-in-out;
      background-repeat: no-repeat;
      background-position: right 0.4rem;
      background-size: rem-calc(28px);
      padding-right: rem-calc(40px);
      -webkit-transition: padding 0.1s ease-in-out;

      &:hover {
        padding-right: rem-calc(50px);
      }
    }

    .wpcf7-not-valid-tip {
      color: #ff9963;
      font-size: 1rem;
      font-weight: 400;
      display: block;
      margin-top: 4px;
    }

    .wpcf7-not-valid {
      border-bottom-color: #ff9963 !important;//#f55723 !important;
    }

    .wpcf7-response-output {
      width: 100%;
      margin: $spacing-small 0;
      font-size: rem-calc(18px);
      padding: 10px;
      position: relative;
      display: none;
    }

    .file-upload-wrapper {
      position: relative;

      input {
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 99;
        margin: 0;
        padding: 0;
        display: block;
        cursor: pointer;
        width: 100%;
      }
    }

    .file-upload-details {
      font-weight: 400;
      font-size: rem-calc(14px);
    }

    .file-upload-name {
      color: $color-white;
      display: none;
      margin-left: rem-calc(20px);

      &.active {
        display: block;
      }
    }

    .wpcf7-list-item {
      position: relative;

      [type="checkbox"]:not(:checked),
      [type="checkbox"]:checked {
        position: absolute;
        left: -9999px;
        visibility: hidden;
      }

      .wpcf7-list-item-label {
        cursor: pointer;
      }

      .wpcf7-list-item-label::before {
        top: 0;
        left: 3px;
        width: 9px;
        height: 14px;
        border-top: 2px solid transparent;
        border-left: 2px solid transparent;
        border-right: 3px solid $color-primary;
        border-bottom: 3px solid $color-primary;
        -webkit-transform: rotateZ(37deg);
        -o-transform: rotateZ(37deg);
        transform: rotateZ(37deg);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
      }

      .wpcf7-list-item-label::before,
      .wpcf7-list-item-label::after {
        content: "";
        left: 0;
        position: absolute;
        transition: border 0.25s, background-color 0.25s, width 0.2s 0.1s, height 0.2s 0.1s, top 0.2s 0.1s, left 0.2s 0.1s;
        z-index: 1;
      }

      [type="checkbox"]:not(:checked) + .wpcf7-list-item-label::before {
        width: 0;
        height: 0;
        border: 3px solid transparent;
        left: 6px;
        top: 8px;
        -webkit-transform: rotateZ(37deg);
        transform: rotateZ(37deg);
        -webkit-transform-origin: 20% 40%;
        transform-origin: 100% 100%;
      }

      [type="checkbox"]:not(:checked) + .wpcf7-list-item-label::after {
        height: 18px;
        width: 18px;
        background-color: transparent;
        border: 1px solid $color-secondary;
        top: 0;
        z-index: 0;
        border-radius: 4px;
      }

      [type="checkbox"]:checked + .wpcf7-list-item-label::after {
        height: 18px;
        width: 18px;
        border: 1px solid $color-secondary;
        top: 0;
        z-index: 0;
        border-radius: 4px;
      }
    }

    .consent {
      .wpcf7-not-valid-tip {
        padding-left: rem-calc(36px);
      }
    }

    .wpcf7-acceptance {
      color: $color-mid-gray;

      label {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: 0;
        font-weight: 600;
      }

      .wpcf7-list-item {
        margin-left: 0;
      }

      input {
        margin-top: 4px;
      }
    }

    .acceptance-mention {
      padding-left: rem-calc(36px);
      cursor: pointer;
      display: inline-block;
      text-align: left;
      font-weight: 400;
      -webkit-user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -ms-user-select: none;

      @include fluid-type($breakpoint-sm, $breakpoint-lg, $body-font-size-min, $body-font-size-max);

      a {
        color: $color-mid-gray;
        text-decoration: underline;
        opacity: 1;
        transition: opacity $transition-normal $ease-out-expo;

        @include u-all-state {
          opacity: 0.6;
        }
      }
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
      -webkit-text-fill-color: $color-secondary !important;
      -webkit-box-shadow: 0 0 0 1000px $color-white inset;
      color: $color-secondary;
    }

    .wpcf7-radio {
      margin-top: $spacing;

      @include make-row();

      .wpcf7-list-item {
        margin: 0 0 0.5em 0;
        padding-left: rem-calc($grid-gutter-width/2);
        padding-right: rem-calc($grid-gutter-width/2);
        font-size: rem-calc(18px);

        @include make-col(12);

        @include media-breakpoint-up(sm) {
          @include make-col(6);
        }

        @include media-breakpoint-up(lg) {
          @include make-col(4);
        }
      }
    }

    .invalid {
      .wpcf7-response-output {
        border: 1px solid #ff9963;
        color: #ff9963;
      }
    }

    .sent {
      .wpcf7-response-output {
        border: 2px solid green;
      }
    }

    .content-block {
      border: 1px solid hsla(0, 0%, 85%, 0.5);
      margin-bottom: rem-calc(20px);
      padding: rem-calc(40px) rem-calc(50px);
      font-size: rem-calc(13px);

      h3,
      a {
        font-family: $font-primary;
        display: inline-block;
        font-size: rem-calc(12px);
        font-weight: 600;
        letter-spacing: 0.24px;
        line-height: 1.5;
      }

      h3 {
        color: $color-primary;
        padding-bottom: 10px;
      }

      a {
        color: $color-dark-blue;
      }

      p {
        margin-bottom: rem-calc(10px);
      }
    }
  }
}
