// ==========================================================================
// Objects / color-theme
//
// could be used for any project based on several color themes
// use colors defined in settings
// specific settings used for this project 
// (color map related to predefined colors used in backend options - archive cpt)
//
// ==========================================================================

/* Header theme */

%o-theme-header-light {
  .header {
    color: $color-primary;

    .brand {
      .logo-white {
        display: block;
      }

      .logo-color {
        display: none;
      }
    }

    //link effect border
    .nav-primary > ul > li {
      &::after {
        border-bottom-color: $color-primary;
      }
    }

    &__cta {
      border: 2px solid $color-primary;
      background-color: transparent;
      color: $color-primary;

      @include u-all-state {
        background-color: $color-primary;
        color: $color-white;
      }
    }

    .nav-toggle {
      .bar {
        background-color: $color-primary;
      }
    }
  }

  .page-header {
    color: $color-primary;
  }
}

%o-theme-header-dark {
  .header {
    color: $color-white;

    .brand {
      .logo-white {
        display: block;
      }

      .logo-color {
        display: none;
      }
    }

    //link effect border
    .nav-primary > ul > li {
      &::after {
        border-bottom-color: $color-white;
      }
    }

    &__cta {
      border: 2px solid $color-white;
      color: $color-white;
      background-color: transparent;

      @include u-all-state {
        color: $color-primary;
        background-color: $color-white;
      }
    }

    &.hover {
      color: $color-primary;

      //link effect border
      .nav-primary > ul > li {
        &::after {
          border-bottom-color: $color-secondary;
        }

        &.is-hover {
          color: $color-mid-gray;
        }

        &.current-menu-item {
          color: $color-mid-gray;

          &:not(.is-hover) {
            &::after {
              border-bottom-color: $color-white;
            }
          }
        }
      }

      .brand {
        .logo-white {
          display: none;
        }

        .logo-color {
          display: block;
        }
      }
    }
  }

  .page-header {
    color: $color-white;

    &.-img-bg {
      color: $color-white;
    }
  }
}

.o-theme-header-light {
  @extend %o-theme-header-light;
}

.o-theme-header-dark {
  @extend %o-theme-header-dark;
}

// used by CF modules
.dg-bg {
  background-color: $color-primary;
}

/*
  available theme and placeholder to use in the components and content-flexible sections - defined in settings > colors
  %o-theme-light-green, .o-theme-dark-green
  %o-theme-dark-green, .o-theme-dark-green
*/
